[workspace]
authors = ["Michael Carroll <carroll.michael@gmail.com>"]
channels = ["conda-forge"]
name = "ros2"
platforms = ["win-64"]
version = "0.1.0"

[feature.dev.target.win-64.activation.env]
COLCON_DEFAULTS_FILE= "%PIXI_PROJECT_ROOT%\\colcon_defaults.yaml"
BUILDCACHE_DIR = "C:\\ProgramData\\buildcache"
BUILDCACHE_DEBUG = "0"
BUILDCACHE_MAX_CACHE_SIZE = "10737418240"

[feature.dev.tasks]
import = {cmd = "vcs import --input ros2.repos src"}
build = {cmd = "colcon build"}
test = {cmd = "colcon test"}
clean = {cmd = "rm -rf build && rm -rf install && rm -rf log"}

[environments]
dev = ["dev"]

[dependencies]
python = ">=3.14.1,<3.15"
freetype = ">=2.14.1,<3"
zlib = ">=1.3.1,<2"
asio = ">=1.29.0,<2"
tinyxml2 = ">=11.0.0,<12"
pybind11 = ">=3.0.1,<4"
lz4 = ">=4.4.5,<5"

[feature.dev.pypi-dependencies]
vcs2l = "*"
colcon-cmake = "*"
colcon-core = "*"
colcon-defaults = "*"
colcon-library-path = "*"
colcon-metadata = "*"
colcon-mixin = "*"
colcon-output = "*"
colcon-package-information = "*"
colcon-package-selection = "*"
colcon-parallel-executor = "*"
colcon-pkg-config = "*"
colcon-powershell = "*"
colcon-python-setup-py = "*"
colcon-recursive-crawl = "*"
colcon-ros = "*"
colcon-ros-domain-id-coordinator = "*"
colcon-test-result = "*"

[feature.dev.dependencies]
cmake = ">=4.2.0,<5"
ninja = ">=1.13.2,<2"
compilers = ">=1.11.0,<2"
uncrustify = ">=0.81.0,<0.82"
yaml-cpp = ">=0.8.0,<0.9"
rust = ">=1.91.1,<1.92"
